@*
    
*@
@{
    ViewData["Title"] = "Trang Đăng Nhập";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    @model Users
}
    <link href="~/dist/css/Auth/auth.css" rel="stylesheet" />
<br>
<br>
<div class="cont">
    <div class="form sign-in">
        <form id="loginForm" method="post">
             <h2>Hệ Thống Cẩm Nang Bưu Điện</h2>
        <div class="auth-box__img">
            <img src="~/assets/images/logo/logo_vnpost-camnang.png" alt="Alternate Text" />
        </div>
        <label>
            <span>Email</span>
            <input id="email" asp-for="UserEmail" type="email" />
        </label>
        <label>
            <span>Password</span>
            <input id="password" asp-for="UserPassWord" type="password" />
        </label>
        <p class="forgot-pass">Forgot password?</p>
        <button type="submit" class="submit">Đăng Nhập</button>
        <div id="message"></div>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="text-danger">@TempData["ErrorMessage"]</div>
            }
        </form>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">

                <h3>Bạn chưa có tài khoản,vui lòng đăng ký<h3>
            </div>
            <div class="img__text m--in">

                <h3>Nếu bạn đã có tài khoản,hãy đăng nhập<h3>
            </div>
            <div class="img__btn">
                <span class="m--up">Đăng Ký</span>
                <span class="m--in">Đăng Nhập</span>
            </div>
        </div>
        <div class="form sign-up">
            <h2>Tạo Tài Khoản</h2>
            <form asp-action="Signin" method="post">
                 <label>
                <span>Name</span>
                <input asp-for="Username" type="text" />
                <span asp-validation-for="Username"></span>
            </label>
            <label>
                <span>Email</span>
                <input asp-for="UserEmail" type="email" />
                <span asp-validation-for="UserEmail"></span>
            </label>
            <label>
                <span>Password</span>
                <input asp-for="UserPassWord" type="password" />
                <span asp-validation-for="UserPassWord"></span>
            </label>
            <button type="submit" class="submit">Đăng Ký</button>
            </form>
            @if (!ViewData.ModelState.IsValid)
            {
                <div>@ViewData.ModelState.Values.First().Errors.First().ErrorMessage</div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
